<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Quora</h1>
    <h2>Posts</h2>
    <% for(post of post){ %>
        <div class="username">
            <h3>@<%= post.username %>
            </h3>
            <p class="post">
                <%= post.post %>
            </p>
            <br>
            <a href="/posts/<%= post.id %>">View Post</a>
        </div>
        <% } %>
            <!-- <br> -->
            <br>
            <!-- <button href="/posts/new">New Post</button> -->
            <a href="/posts/new">New Post</a>

</body>

</html>